target/
gen/
test-output/
.idea*/
**/*.iml
*.iml
**/*.ipr
node_modules/
**/*.iws
**/*.jar
**/*.class
**/*.war
jsduck.exe
ui/docs/out
*.ipr
*.iws
ui/npm-debug.log
message.txt
ui/client/target/
*.log
*.lck
*.ctrl
*.dat
*derbyDB*
*.class
*.jar
automation/target/
/automation/target
/.project
/.settings
.settings
.project
.classpath
automation/chromedriver.exe
ui/build/
platform/runtime/logs
ui/app/index.html
ui/app/test_out/unit.xml
/platform/analytics/analytics-schema-gen/impl/tmp
rebel.xml
